@page "/register"
@inject AuthenticationService authService
@inject NavigationManager NavigationManager

<PageTitle>Register</PageTitle>

<div>
    <label for="email">Email:</label>
    <input id="email" type="email" @bind="@email" />
</div>

<div>
    <label for="username">Username:</label>
    <input id="username" type="text" @bind="@username" />
</div>

<div>
    <label for="password">Password:</label>
    <input id="password" type="password" @bind="@password" />
</div>

<div class="menuBox" @onclick="Register">
    <div class="menuBoxText">Register</div>
</div>

<NavLink class="menuLink" href="/">
    <div class="menuBox">
        <div class="menuBoxText">Sign in</div>
    </div>
</NavLink>

@if (!string.IsNullOrEmpty(errorMessage))
{
    <p style="color: red;">@errorMessage</p>
}

@code {
    private string email;
    private string username;
    private string password;
    private string? errorMessage;

    private async Task Register()
    {
        var user = new UserAccount
            {
                UserAccountId = "",
                Email = email,
                Username = username,
                PasswordHash = password
            };

        bool registrationResult = await authService.Register(user);

        if (registrationResult)
        {
            // Redirect to another page upon successful registration
            NavigationManager.NavigateTo("/");
        }
        else
        {
            // Display an error message for unsuccessful registration
            errorMessage = "Registration failed. Please try again.";
        }
    }
}

