@page "/"
@inject AuthenticationService authService
@inject NavigationManager NavigationManager
@using System.ComponentModel.DataAnnotations

<PageTitle>Login</PageTitle>

<div class="authBox">
    <label for="email" id="authLabelText">Email</label>
    <input id="email" type="email" class="inputBox" @bind="@loginModel.Email" />
</div>

<div class="authBox">
    <label for="password" id="authLabelText">Password</label>
    <input id="password" type="password" class="inputBox" @bind="@loginModel.Password" />
</div>

<div class="menuBox" @onclick="Login">
    <div class="menuBoxText">Log in</div>
</div>

<NavLink class="menuLink" href="/register">
    <div class="menuBox">
        <div class="menuBoxText">Register</div>
    </div>
</NavLink>

@if (!string.IsNullOrEmpty(errorMessage))
{
    <p style="color: red;">@errorMessage</p>
}

@code {
    private LoginModel loginModel = new LoginModel();
    private string? errorMessage;

    private async Task Login()
    {
        bool loginResult = await authService.Login(loginModel);

        if (loginResult)
        {
            // Redirect to another page upon successful login
            NavigationManager.NavigateTo("/mainmenu");
        }
        else
        {
            errorMessage = "Login failed. Please try again.";
        }
    }

    public class LoginModel
    {
        public string Email { get; set; }
        public string Password { get; set; }
    }
}