@page "/results"
@inject NavigationManager NavigationManager

<PageTitle>Results</PageTitle>

<!-- Quiz result title -->
<h1 id="resultTitle">Quiz Result</h1>
<!-- Quiz result text -->
<p class="resultText">You made it through </p>
<p class="resultText">Your highscore is </p>

<!-- Play again button -->
<NavLink class="menuLink" href="/topic-picker">
    <div class="menuBox">
        <div class="menuBoxText">Play again</div>
    </div>
</NavLink>

<!-- Back to menu button -->
<NavLink class="menuLink" href="/mainmenu">
    <div class="menuBox">
        <div class="menuBoxText">Back to menu</div>
    </div>
</NavLink>

@code {
    private string? pageId;

    // Update highscore and read it when loading this page
    protected override async Task OnInitializedAsync()
    {
        
    }

    // Update highscore in 
    //  if it is higher than previous highscore
    private async Task UpdateHighscore(int newHighscore, string pageId)
    {
        
    }

    // Read highscore from localStorage
    // Cannot use the index one, because then it doesn't update before loading page
    private async Task ReadHighscore(string pageId)
    {
      
    }
}

