@page "/topic-picker"

<PageTitle>Topics</PageTitle>

<div class="menuContent">
    <!-- General knowledge button -->
    <NavLink class="menuLink" href="gameplay/General Knowledge">
        <div class="menuBox">
            <div class="menuBoxText">General knowledge</div>
        </div>
    </NavLink>

    <!-- Gaming trivia button -->
    <NavLink class="menuLink" href="gameplay/Gaming">
        <div class="menuBox">
            <div class="menuBoxText">Gaming</div>
        </div>
    </NavLink>

    <!-- More to come.. -->
    <div class="menuBox">
        <div class="menuBoxText">More to come..</div>
    </div>

    <!-- Back to menu button -->
    <NavLink class="menuLink" href="/mainmenu">
        <div class="menuBox">
            <div class="menuBoxText">Back to menu</div>
        </div>
    </NavLink>
</div>



