@page "/topic-scores"

<PageTitle>Topic scores</PageTitle>

<!-- Topic highscores -->
<div id="scoreText">
    <dl>
        <dt>General knowledge</dt>
        <dd></dd>
    </dl>
    <dl>
        <dt>Gaming</dt>
        <dd></dd>
    </dl>
</div>

<!-- Back to menu button -->
<NavLink class="menuLink" href="/">
    <div class="menuBox">
        <div class="menuBoxText">Back to menu</div>
    </div>
</NavLink>


@code {
    
}





